<%- include('partials/header'); -%>

<div class="container aboutcontain">
    <h2><strong>ABOUT US</strong></h2>
    <br>
    <p><strong>Today, for web developers committing and making PRs on github is a part of life. </strong></p>
    <br>
    <p>This website displays all the github repositories made by the user on github.
    Looking for good and innovative repositories from great developers also give good boost to your knowledge.</p>
    <br>
    <p>So, let's come together for reading , writing and searching repositories on github</p>
    <br>
    <h2><strong>THANK YOU !!</strong></h2>
</div>

<%- include('partials/footer'); -%>